<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>SAVE GREEN</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/greenFinderEnergy.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    
    <!-- 헤더 -->
    <div th:replace="layouts/header :: header"></div>
    <div class="main-container">
    <h1 class="energy_bar">에너지 사용량</h1>
    <div class="dashboard">
        <!-- 월별 에너지 사용량 -->
        <section class="chart-card">
            <h2>에너지 사용량(월별)</h2>

            <div class="date-range">
                <label>시작</label>
                <input type="month" id="startMonth" readonly>
                <span>~</span>
                <label>종료</label>
                <input type="month" id="endMonth" readonly>
            </div>

            <div class="chart-container">
                <!-- 그래프 캔버스 -->
                <canvas id="monthlyChart"></canvas>
            </div>

            <p class="chart-description">
                
            </p>
        </section>

        <!-- 연식/용도별 에너지 사용량 -->
        <section class="chart-card">
            <h2>에너지 사용량(연식 / 용도)</h2>
            <div class="date-range">
                
            </div>
            <div class="chart-container">
                <canvas id="usageChart"></canvas>
            </div>

            <p class="chart-description">
                
            </p>
        </section>
    </div>
    <div class="map-btn-container">
        <a href="/forecast" class="map_btn">GREEN REMODELING 페이지로 이동</a>
        <a href="/simulator" class="map_btn">ENERGY SIMULATOR 페이지로 이동</a>
        <a href="/GreenFinder" class="map_btn">건물 정보 검색 페이지로 이동</a>
    </div>
    </div>
  <script th:src="@{/js/greenFinderEnergy.js}"></script>


</body>
<div th:replace="layouts/footer :: footer"></div>
</html>